@{
    ViewData["Title"] = "Login";
}

@{
    Layout="_Layout_Login";
}

<body>
	
	<div class="container h-100" style="margin-bottom: 36%;">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card" style="margin-top: 100px;">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="https://image.shutterstock.com/image-vector/epic-fail-stamp-sticker-seal-260nw-546692056.jpg" class="brand_logo" alt="Logo">
						 <a href="https://localhost:5001/Fail/ListaFail">VOLVER A INICIO PRESIONE AQUI</a>
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="post">
							<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="nombre" class="form-control input_user" value="" placeholder="username" required />
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="password" class="form-control input_pass" value="" placeholder="password">
						</div>
						<div class="d-flex justify-content-center mt-3 login_container">
				 	        <button class="btn btn-primary">Iniciar sesión</button>
							
				        </div>
					</form>
				</div>
			</div>
		</div>
	</div>
	
</body>